<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/aftergame.css" />
		<title>EndGame</title>
	</head>
	<body class="h-100">
		<div class="container">
			<div class="row h-100 align-items-center">
				<div class="col">
					<h1>GAME OVER</h1>
					<% if (score) { %>
					<h2>Your score is <%= score %></h2>
					<% } %>
					<a href="/user/leaderboard">view scorebooard</a>
				</div>
			</div>
		</div>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"
		></script>
	</body>
</html>
