<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form action="/user/forgotPasswordRequest" method="post">
        <input type="text" name="email" placeholder="Registered Email id">
        <input type="submit" value="Request Password Change">
    </form>
</body>
</html>