<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Crack it Connect it</title>
    <style>
           .require-login {
             <% if (!loggedIn) { %>
      display: none;
           <% } %>
           }
           .hide-if-loggedin {
             <% if (loggedIn) { %>
      display: none;
           <% } %>
           }
    </style>
  </head>
  <body>
    <div id="topbar">
      <div>
        <a href="/" class="topbar-icons">
          <img src="/assets/home_icon.png" class="d-inline-block align-top" />
        </a>
        <a href="/user/leaderboard" class="topbar-icons require-login">
          <img src="/assets/leaderboard_icon.png" class="d-inline-block align-top" />
        </a>
      </div>
      <div style="margin-left:auto; display: flex; padding: 0px; margin-top:20px;">
          <div id="my-navbar" style="margin-right: 30px;">
              <a class="nav-link require-login" href="/user/game">Game</a>
              <a class="nav-link" href="/rules">Rules</a>
              <a type="button" class="nav-link hide-if-loggedin" href="/login">Login</a>
              <a class="nav-link hide-if-loggedin" href="/register">Register</a>
              <a type="button" class="nav-link require-login" href="/logout">Logout</a>
            </div>
          <img src="/assets/main_logo_21.png" height="60"/>
      </div>
    </div>
    <div id="mobile-navbar">
        <a class="nav-link require-login" href="/user/game">Game</a>
        <a class="nav-link" href="/rules">Rules</a>
        <a type="button" class="nav-link hide-if-loggedin" href="/login">Login</a>
        <a class="nav-link hide-if-loggedin" href="/register">Register</a>
        <a type="button" class="nav-link require-login" href="/logout">Logout</a>
    </div>
    <footer>
      Made with &#10084; by <a href="https://delta.nitt.edu">Delta Force</a>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
