<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/leaderboard.css" />
    <link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
    <script src="/js/leaderboard.js"></script>
    <title>Leaderboard</title>
</head>
<body>

    <div id="topbar">
        <a href="/" class="topbar-icons">
          <img src="/assets/home_icon.png" class="d-inline-block align-top" />
        </a>
        <div style="margin-left:auto; display: flex; padding: 0px; margin-top:20px;">
            <img src="/assets/main_logo_21.png" height="60"/>
        </div>
      </div>
      <div class="title-icon">
        <img src="/assets/title.png" alt="">
      </div>
      <footer>
        Made with &#10084; by <a href="https://delta.nitt.edu">Delta Force</a>
      </footer>
    
    <h2>Leaderboard</h2>

    <div class="game-leaderboard-class" id="game-leaderboard-id" style="overflow: hidden;"></div>
    <div class="page-number-class" id="page-number-id"></div>

    <script>

        // number of columns, here 3.
        var m = 3;
        var users = <%-JSON.stringify(users)-%>;        
        var n = users.length;
        var listPeople = new Array(n);
        
        for(let i=1; i<=n; i++) {
            listPeople[i-1]= [i, users[i-1].username, users[i-1].score];
        }
        
        buildLeaderboard('game-leaderboard-id', listPeople, n, m, 0, 10,'page-number-id');

    </script>
    
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>

</body>
</html>
