@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");
body {
	background-color: #264653;
	text-align: center;
	background-image: url("/public/bg.png");
}

h1 {
	font-family: "Carter One";
	font-size: 92px;
	color: #e76f51;
}
h2 {
	font-family: "Balsamiq Sans";
	font-size: 56px;
	color: #f4a261;
}
a {
	font-size: 28px;
	color: #e9c46a;
}
a:focus,
a:hover {
	color: #e9c46a;
}
.h-100{
    min-height: 100vh;
}
