@import url('/public/assets/fonts/Nexa\ Bold.otf');
@import url('/public/assets/fonts/Nexa\ Light.otf');
body {
	background-color: #264653;
	text-align: center;
	background-image: url(/assets/bg.png);
}

.navbar {
	position: absolute;
	width: 100%;
}

a {
	color: #000;
	font-family: 'Nexa Light';
}


.h-100{
    min-height: 100vh;
}

.title {
	font-size: 64px;
	font-family: 'Nexa Bold';
}

.bottom-right {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

head {
	font-family: 'Nexa Light'; 
	margin-bottom: 0 !important;
}
