/* ***************************GENERAL GAME ASSETS******************************************************* */

@import url('https://fonts.googleapis.com/css?family=Carter+One');
@font-face {
  font-family: "Nexa Bold";
  src: url("/assets/fonts/Nexa Bold.otf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("/assets/fonts/Nexa Light.otf");
}


#topbar{
	display: flex;
	width: 100%;
	padding: 30px;
	/* align-items: center; */
   }
   .topbar-icons{
		display: block;
	}
	.topbar-icons>img{
		height: 100px;
	}
   #my-navbar{
	 display: flex;
	 margin-left: auto;
	 height: fit-content;
   }
   #mobile-navbar{
	 position: absolute;
	 display: none;
	 bottom: 10vh;
	 width: 100%;
	 margin: 0 auto;
   }
   footer{
	 position: fixed;
	 bottom:0;
	 width: 100%;
	 text-align: center;
	 font-family: 'Nexa Light';
	 background: #72c7a2;
	 padding: 5px;
	 color: white;
   }
   footer>a{
	 text-decoration: dotted;
	 color: white;
   }
   @media only screen and (max-width: 768px){
	 #my-navbar{
	   display: none;
	 }
	 #mobile-navbar{
	   display: block;
	 }
	 #topbar{
		 padding: 10px;
	 }
	 .title-icon{
		display: none;
	}
   }

   .title-icon{
		position: fixed;
		right: 0;
		bottom: 3vh;
		height: 150px;
		padding: 20px;
	}

	.title-icon>img{
		height: 100%;
	}



body {
  background-color: #111; 
  text-align: center; 
  background-image: url(/assets/bg.png);
  font-family: "Nexa Light";
  line-height: unset;
}

.game-btn{
  background: url('/assets/button_up.png');
  background-size: cover; 
  height: 200px;
  width: 300px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.game-btn:hover{
  background: url('/assets/button_down.png'); 
  background-size: cover; 
}

.completed{
  background-color: #72c7a2 !important;
}
/* ************************CROSSWORD PANEL*************************************** */

td{
  padding: revert;
}
.crossword-board-container {
  position: relative;
  background: #fff;
}
.crossword-board {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: 1px solid #000;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.crossword-board__item {
  border: 1px solid #000;
  background: transparent;
  display: inline;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.crossword-board__item:hover{
  background-color: #5fcc49;
  border: 1px solid #000;
}
.crossword-board__item:active, .crossword-board__item:focus {
  background: #5fcc49;
  border: 1px solid #000;
}
.crossword-board__item--blank {
  background: #000;
  border: 2px solid #000;
}

.crossword-board--highlight {
  position: absolute;
  /* z-index: 50; */
}

table{
  border-spacing: 1px;
  border-collapse: separate;
}

#game-board1 > table{
  background-color: white;
}

/* ******************************LABEL******************************************** */
.float-container {
  border: solid 1px #ccc;
  padding: 0 8px;
  position: relative;
}
.float-container input {
  border: none;
  font-size: 16px;
  margin: 16px 0 10px;
  outline: 0;
}
label {
  font-size: 0.6em;
  position: absolute;
  transform-origin: top left;
  transform: translate(0.3em, 0.2em) scale(1);
  transition: all .1s ease-in-out;
  z-index:100;
  color: #000;
}
.float-container.active label {
  transform: translate(0, 4px) scale(.75);
}



/* ********************************HINT********************************************* */

#hint-board1{
  font-size: 1.0em;
  position: relative;
  left: 10%;
  color: #000;
  text-align: left;
  display: inline-block;
}


.rowHint{
  color: #000;
  min-height: 15px;
  margin: auto auto auto auto; 
}
#hint-table{
  border-collapse: separate;
  border-spacing: 15px;
  max-width: 70vw;
  font-size: 0.8em;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color:white;
}

#hint-table th{
  text-align: center;
  font-family: "Nexa Bold";
}

@media screen and (max-width<768px){
  #hint-table{
    max-width: 95vw;
  }
}

#hint-table td{
  width: 50%;
  color: white;
}

.hint-cell-hover{
  background-color: sandybrown;
  border-radius : 5px;
  padding: 3px;
  font-size: 1.2em;
}

.hint-cell{
  border-radius: 5px;
  font-size: 1.2em;
}


